{% extends 'base.html' %}

{% block head_titulo %}
	
	{% if titulo %}
		{{titulo}} /
	{%  endif %}
	{{block.super}}

{% endblock %}


{% block contenido %}
	
	{% for instance in object_list %}

		<div>
			<h3>{{instance.titulo}}</h3>
			<p>{{instance.descripcion}}</p>
			{% for item in instance.get_item_relacionado %}
				{% if item.relacionado.pelicula %}
					<div>
						<p>
							<strong>Peliculas Relacionadas</strong>
						</p>
					</div>
			{% include 'playlist/tarjetas/pelicula.html' with pelicula=item.relacionado %}
				
				{% elif item.relacionado.show %}
					<div>
						<p>
							<strong>Shows Relacionadas</strong>
						</p>
					</div>
					{% include 'playlist/tarjetas/show.html' with show=item.relacionado %}
				{% else %}
				{% endif %}

			{% endfor %}
		</div>

	{% endfor %}

{% endblock %}
