{% extends 'base.html' %}

{% block head_titulo %}
	
	{{object.titulo}} /
	{{block.super}}

{% endblock %}


{% block contenido %}

<h1>
	{{object.titulo}}
</h1>

{{object.slug}} Temporadas: <strong>{{object.get_corto_display}}</strong>


<p>
	
	{{object.temporada}}

</p>


{% load clasificacion %}

<div>
	<p>
		
		{% clasificar object=object %}


	</p>	

</div>

<h3>Triler</h3>
<p style="width: 50%; font-family: arial;">
	{{object.video.get_descripcion_trailer}}	
</p>

{% include 'video/embed.html' with video_id=object.get_video_id %}

<br>
<br>

{% for season in object.temporada %}


{{season.slug}}


<li>{{ forloop.counter }} - <a href='{{season.get_absolute_url}}'>{{ season.titulo }} </a></li>


{% endfor %}


{% endblock %}
